// .Karousel {
//   height: 400px;
//   width: 100%;
// }

.carousel {
  height: 400px;

  img {
    display: inline-block;
    width: 50%;
    height: 500px;
    margin: 0;
  }
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
  max-width: 100%;
  // height: auto;
  display: inline;
}