.navbar {
  background-color: #63a541;
  font-weight: bold;
  font-family: 'sans-serif';
  font-size: 20px;
  margin: 0px;
  border: none; }
  .navbar a {
    color: white;
    font-family: sans-serif; }

.navbar-default .navbar-brand {
  color: white;
  font-family: sans-serif;
  font-size: 20px; }
